//прячем модалку
.modal__card-overlay.is-hidden{
    opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__card-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.5);
    transition: all 0.5s ease-in-out;
    z-index: 20;
}
// анімація виїзду модалки
// .modal__card-overlay.is-hidden .modal__card-content{
//     transform: translate(-50%, 100%);
// }
// .modal__card-content--active {
//     display: block;
// }
// .modal__card-overlay--active {
//     opacity: 1;
//     visibility: visible;
//     transition: all 0.5s ease-in-out;
//     display: block;
// }
.modal__card-content {
    @media screen and(max-width:767px) {
        width: 806px;
        eight: 558px;
        padding: 20px;
        position: relative;
        background-color: white;
        border-radius: 5px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        display: flex;
        width: 704px;
            height: 552px;
        padding: 40px 72px 40px 36px;
        position: relative;
        background-color: white;
        border-radius: 5px;
    }
    @media screen and(min-width:1024px) {
        display: flex;
        width: 806px;
        height: 558px;
        padding: 40px 12px;
        position: absolute;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.modal__close {
    @media screen and(max-width:767px) {
        position: relative;
        top: 0;
        left: 95%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    @media screen and(min-width:1024px) {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        background: orange;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// .modal__close-svg{
//     fill: #000000;
//     z-index: 50;
// }

.modal__img {
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        width: 264px;
        height: 374px;
        margin-right: 68px;
    }
    @media screen and(min-width:1024px) {
        width: 375px;
        // height: 478px;
        margin-right: 20px;
        border-radius: 10px;
    }
}

.modal__info-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
}

.discription__modal {
    margin-right: 85px;
}

.modal__info-block {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.discription__modal-item{
    margin-bottom: 8px;
}
.discription__modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C;
}
.discription__modal-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}
.discription__modal-text-vote{
    background: #FF6B01;
    border-radius: 5px;
    padding: 1px 10px;
    line-height: 14px;
    color: #FFFFFF;
}
.discription__modal-text-slash{
    color: #8C8C8C;
    margin-left: 3px;
    margin-right: 3px;
}
.discription__modal-text-votes{
    background: #F7F7F7;
    border-radius: 5px;
    padding: 1px 10px;
    line-height: 14px;
}

.about__modal{
    margin-bottom: 20px;
}

.about__modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
}
.about__modal-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.modal__btn-add{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        width: 136px;
        height: 44px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: #fff;
    text-transform: uppercase;
}
.modal__btn-1{
    margin-left: 4px;
    margin-right: 15px;
}