.wrapper-tittle {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: $cards-text;
}

.image-slider {
    //  position: absolute;
    //  bottom: 30%;
    //  left: 30%;
    //  transform: translate(-30%, -30%);
    padding: 30px 0 70px 0;
    width: 500px;

}

.wrapper {
    position: fixed;
    z-index: 35;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
   // background-color: #330b0b;
background: linear-gradient(175deg,#6f0000, #6f0000, #6f0000,
    #330b0b, #330b0b, #330b0b);
        background-size: 300% 300%;
        animation: gradient 3s ease infinite;

}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%
    }
}

.wrapper.hide {
    opacity: 0;
    pointer-events: none;
}

.hide {
    display: none;

}

.swiper-container {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 50%;
    //overflow: hidden;
    transform: translateY(60%);
    @media screen and (max-width: 768px) {
        width: 70%;
        transform: translateY(40%);
    }
    @media screen and (max-width: 992px) {
        width: 80%;
        
    }
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
    color: orange;
    font-style: 80px;

}

.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: $header-button-color;
}

.image-slider__image {

    text-align: center;
}

.image-slider__name {

    font-weight: 400;
    font-style: 14px;
    line-height: 1.17;
    color: rgb(255, 255, 255);
    text-align: center;
}

.image-slider__position {
    margin: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.image-slider__image img {
    max-width: 100%;
}

.image-slider .swiper-slide {

    width: auto;
}
