//прячем модалку
.modal__card-overlay.is-hidden{
    opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__card-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.5);
    transition: all 0.5s ease-in-out;
    z-index: 20;
}
// анімація виїзду модалки
// .modal__card-overlay.is-hidden .modal__card-content{
//     transform: translate(-50%, 100%);
// }

.modal__card-content {
    display: flex;
    width: 806px;
    height: 558px;
    padding: 40px 12px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        width: 704px;
        height: 552px;
        padding: 40px 72px 40px 36px;
    }
    @media screen and(max-width:767px) {
        display: block;
        width: 90vw;
        height: 80vh;
        padding: 20px;
    }
}

.modal__close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.modal-close-btn__icon {
    width: 16px;
    height: 16px;
    fill: #000;
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__img {
        margin-right: 20px;
        border-radius: 10px;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        margin-right: 40px;
    }
    @media screen and(max-width:767px) {
        display: none;
    }
}

.modal__info-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        font-size: 20px;
        line-height: 23px;
    }
    @media screen and(max-width:767px) {
        font-size: 20px;
        line-height: 23px;
    }
}

.discription__modal {
    // margin-right: 85px;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        margin-right: 20px;
    }
}

.modal__info-block {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    @media screen and(max-width:767px) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.discription__modal-item{
    display: flex;
    margin-bottom: 8px;
}
.discription__modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C;
    white-space: nowrap;
}

.discription__modal-item:nth-child(1)h4{
    margin-right: 85px;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        margin-right: 41px;
    }
    @media screen and(max-width:767px) {
        margin-right: 20px;
    }
}
.discription__modal-item:nth-child(2)h4{
    margin-right: 97px;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        margin-right: 53px;
    }
    @media screen and(max-width:767px) {
        margin-right: 32px;
    }
}
.discription__modal-item:nth-child(3)h4{
    margin-right: 83px;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        margin-right: 39px;
    }
    @media screen and(max-width:767px) {
        margin-right: 18px;
    }
}
.discription__modal-item:nth-child(4)h4{
    margin-right: 120px;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        margin-right: 76px;
    }
    @media screen and(max-width:767px) {
        margin-right: 55px;
    }
}

.discription__modal-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}
.discription__modal-text-vote{
    background: #FF6B01;
    border-radius: 5px;
    padding: 1px 10px;
    line-height: 14px;
    color: #FFFFFF;
}
.discription__modal-text-slash{
    color: #8C8C8C;
    margin-left: 3px;
    margin-right: 3px;
}
.discription__modal-text-votes{
    background: #F7F7F7;
    border-radius: 5px;
    padding: 1px 10px;
    line-height: 14px;
}

.about__modal{
    width: 391px;
    margin-bottom: 20px;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        width: 264px;
    }
    @media screen and(max-width:767px) {
        width: auto;
    }
}

.about__modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
    @media screen and(max-width:767px) {
        margin-bottom: 5px;
    }
}
.about__modal-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    @media screen and(max-width:767px) {
            line-height: 15px;
        }
}

.modal__button{
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        display: flex;
    }
    @media screen and(max-width:767px) {
        display: flex;
    }
}
.modal__btn-add{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 136px;
    height: 44px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        width: 125px;
    }
    @media screen and(max-width:767px) {
        width: 110px;
    }
}
.modal__btn-add:hover{
    transform: scale(1.03);
}

.modal__btn-1add,
.modal__btn-1remove{
    margin-left: 4px;
    margin-right: 15px;
}

.modal__btn-1add,
.modal__btn-2add{
    background: #FF6B01;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.modal__btn-1remove,
.modal__btn-2remove {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000;
    box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.5);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.hide-btn{
    display: none;
}