
.container-card {
    background-color: $body-container-background;
    @media screen and (min-width: 320px) and (max-width: 479px) {
                margin: 20px;
        }
    
    
        @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                margin-left: -32px;
                margin-left: auto;
                margin-right: auto;
    

        }
    
        @media screen and (min-width: 1280px) {
                display: flex;
                flex-wrap: wrap;
                margin-left: -16px;
                margin-left: auto;
                margin-right: auto;
        }
}

.container-card_single-card {
    //>>>>>>>збільшення масштабу img>>>>
            width: 100%;
            height: 100%;
            transition: transform 500ms;
    
            &:hover {
                transform: scale(1.05);
                border-radius: 1px;
            }
        //<<<<<<<збільшення масштабу img<<<<<
    @media screen and (min-width: 768px) {
            flex-basis: calc(100% / 2 - 32px);
            margin-top: 59px;
            margin-left: 32px;
            margin-bottom: 32px;
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: calc(100% / 3 - 16px);
            margin-top: 60px;
            margin-left: 16px;
            margin-bottom: 32px;
        }

}

// //>>>>>>>збільшення масштабу img>>>>
// .container-card_single-card {
//     width: 100%;
//     height: 100%;
//     transition: transform 500ms;

//     &:hover {
//         transform: scale(1.05);
//         border-radius: 1px;
//     }
// }
// //<<<<<<<збільшення масштабу img<<<<<

.poster {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
           margin-bottom: 8px;
        }
    
        @media screen and (min-width: 1280px) {
            margin-bottom: 12px;
        }
}

.info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
        }
}

.info_title{
    color: $text-color;
    &:hover {
        color: $cards-text;
    }
}

.info_details {
    color: $cards-text;
}   