.back_to_top {
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: $cards-text;
    cursor: pointer;
    display: none;
    padding: 12px 12px;
    &:hover {
        background: $button-hover;
    }
}

.back_to_top-show {
    display: block;
}