$header-button-color: #FF6B01;
$header-background: rgba(0, 0, 0, 0.56);
$cards-text:#FF6B08;
$body-container-background: #E5E5E5;
$footer-background: #F7F7F7;
$footer-text:#545454;
$primary-white-color: #ffffff;
$text-color: #000000;
$button-hover: #FF001B;