<footer class="footer">

    <div class="footer__container container">
        <p class="footer__text"> &copy; 2022 | All Rights Reserved |&nbsp;
        </p>

        <div class="footer__info">
            <p class="footer__info--text">Developed with</p>
            <div id="heart" class="heart">
                <div></div>
            </div>
            <span class="footer__info--span">by</span>
            <button type="button" class="footer-modal-btn">GoIT Students</button>
        </div>
    </div>

</footer>