<header id="home" class="site-header">

    <div class="site-header-container">

        <div class="site-header-logo-container">
            <svg width="20" height="20" class="header-logo-icon">
                <use href="./images/icons.svg#icon-film"></use>
            </svg>
            <span class="header-logo-name">Filmoteka</span>
        </div>

        <nav class="header-nav-container">
            <ul class="header-nav__list">
                <li class="header-nav__item"><a href="" class="header-nav__link header-nav__link--current">HOME</a></li>
                <li class="header-nav__item"><a href="./library.html" class="header-nav__link header-nav__link--last">MY LIBRARY</a>
                </li>
            </ul>
        </nav>

    </div>


    <form class="header-input-container">
        <input type="text" id="search-box" class="search-box-input" placeholder="Movie search" autocomplete="off" />
        <button type="submit" class="header-input-search-button">
           <svg width="12" height="12" class="search-box-input-icon">
            <use href="./images/icons.svg#icon-search"></use>
        </svg>
        </button>
        
   </form>

    <div class="header-error-container is-hidden">
<p> Search result not successful. Enter the correct movie name and try again </p>
    </div>


</header>