<div class="wrapper hide">

    <!-- слайдер -->
    <div class="image-slider swiper-container">
        <!-- <h2 class="wrapper-tittle">Team </h2> -->
        <div class="image-slider__wrapper swiper-wrapper">
            <!-- Хеш навігації -->
            <div data-hash="https://github.com/HannaKobelska" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/HannaKobelska">
                        <img src="/src/images/team/Hanna.jpg" alt="Hanna" class="swiper-lazy"></a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Hanna Kobelska</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/86andrey" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/86andrey">
                        <img src="/src/images/team/Andriy.jpg" alt="Andriy" class="swiper-lazy"></a>
                    <p class="image-slider__position">Team Lead</p>
                    <p class="image-slider__name">Andriy Ivanov</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/Vania-Bogdan" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/Vania-Bogdan">
                        <img src="/src/images/team/Vania.jpg" alt="Vania" class="swiper-lazy"></a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Ivan Bogdan</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/SiarheyLu4" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/SiarheyLu4">
                        <img src="/src/images/team/Siarhiy.jpg" alt="Siarhey" class="swiper-lazy"></a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Siarhey Luchynovich</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/KatyaTyshkovets" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/KatyaTyshkovets">
                        <img src="/src/images/team/Katya.jpg" alt="Katya" class="swiper-lazy"></a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Katya Tyshkovets</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/OlenkaSav" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/OlenkaSav">
                        <img src="/src/images/team/Olena.jpg" alt="Olena" class="swiper-lazy"></a>
                    <p class="image-slider__position">Scrum Master</p>
                    <p class="image-slider__name">Olena Savytska</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/Palamarchuck" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/Palamarchuck">
                        <img src="/src/images/team/Sergiy.jpg" alt="Sergiy" class="swiper-lazy"></a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Sergiy Palamarchuck</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/L-Nastya" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/L-Nastya">
                        <img src="/src/images/team/Nastya.jpg" alt="Nastya" class="swiper-lazy"></a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Nastya Lutsko</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>

            <div data-hash="https://github.com/teenrage-dev" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/teenrage-dev">
                        <img src="/src/images/team/Renat.jpg" alt="Renat" class="swiper-lazy"></a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Renat</p>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>



        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>

    </div>

</div>