<div class="wrapper hide">

    <!-- слайдер -->
    <div class="image-slider swiper-container">
        <!-- <h2 class="wrapper-tittle">Team</h2> -->
        <div class="image-slider__wrapper swiper-wrapper">
            <!-- Хеш навігації -->
            <div data-hash="https://github.com/HannaKobelska" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/HannaKobelska"></a>
                    <img src="/src/images/team/Анна.jpg" alt="Hanna">
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Hanna Kobelska</p>


                </div>
            </div>
            <div data-hash="https://github.com/86andrey" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/86andrey"></a>
                    <img src="/src/images/team/Андрій.jpg" alt="Andriy">
                    <p class="image-slider__position">Team Lead</p>
                    <p class="image-slider__name">Andriy Ivanov</p>


                </div>
            </div>

            <div data-hash="https://github.com/Vania-Bogdan" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/Vania-Bogdan"></a>
                    <img src="/src/images/team/Vania.jpg" alt="Vania">
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Ivan Bogdan</p>

                </div>
            </div>

            <div data-hash="https://github.com/SiarheyLu4" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/SiarheyLu4"></a>
                    <img src="/src/images/team/Сяргій.jpg" alt="Siarhey">
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Siarhey Luchynovich</p>

                </div>
            </div>

            <div data-hash="https://github.com/KatyaTyshkovets" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/KatyaTyshkovets"></a>
                    <img src="/src/images/team/Катя.jpg" alt="Katya">
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Katya Tyshkovets</p>

                </div>
            </div>

            <div data-hash="https://github.com/OlenkaSav" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/OlenkaSav"></a>
                    <img src="/src/images/team/Лена.jpg" alt="Olena">
                    <p class="image-slider__position">Scrum Master</p>
                    <p class="image-slider__name">Olena Savytska</p>

                </div>
            </div>

            <div data-hash="https://github.com/Palamarchuck" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/Palamarchuck"></a>
                    <img src="/src/images/team/Сергій.jpg" alt="Sergiy">
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Sergiy Palamarchuck</p>

                </div>
            </div>

            <div data-hash="https://github.com/L-Nastya" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">

                    <a class="image-slider__link" href="https://github.com/L-Nastya"></a>
                    <img src="/src/images/team/Настя.jpg" alt="Nastya">
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Nastya Lutsko</p>

                </div>
            </div>
            <div data-hash="https://github.com/teenrage-dev" class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <a class="image-slider__link" href="https://github.com/teenrage-dev">
                        <img src="/src/images/team/Renat.jpg" alt="Renat">
                    </a>
                    <p class="image-slider__position">Developer</p>
                    <p class="image-slider__name">Renat</p>
                </div>
            </div>



        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>

    </div>

</div>